body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom right, #3498db, #bdc3c7);
}
.contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.form-container {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.form-container h1 {
  margin-top: 0;
  font-size: 24px;
  color: #333333;
}
.form-container a {
  display: inline-block;
  text-decoration: none;
  background-color: #007bff;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}
.form-container a:hover {
  background-color: #0056b3;
}