body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom right, #3498db, #bdc3c7);
}
.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.contenedor1 {
    max-width: 400px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}
input[type="text"]:focus,
input[type="password"]:focus {
    border-color: #007bff;
}
.submit {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}
.submit:hover {
    background-color: #0056b3;
    transform: scale(1.1);
}
.volver {
    text-align: center;
    margin-top: 20px;
}
.volver a {
    text-decoration: none;
    color: #007bff;
    transition: color 0.3s ease;
}
.volver a:hover {
    color: #0056b3;
}
.errMsg {
    color: #FF0000;
    text-align: center;
    font-size: 17px;
}